:root {
    --text-color: rgb(57, 57, 89);

    --background-color: rgb(214, 225, 215);

    --part-01-background: deeppink;
    --part-02-background: rgb(127, 146, 22);

    --first-font: 'Rubik Distressed', cursive;
    --secondary-font: 'Rubik Microbe', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--first-font);
    font-size: 16px;
    background-color: var(--background-color);
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header>h1 {
    color: var(--text-color);
    font-size: 2rem;
    font-family: var(--secondary-font);
    padding: 2rem 1rem;
}

main>.part_01,
main>.part_02 {
    display: flex;
    flex-direction: column;
}

main>.part_01 {
    background-color: var(--part-01-background);
}

main>.part_02 {
    background-color: var(--part-02-background);
}

main>.part_01>h2,
main>.part_02>h2 {
    padding: 1rem;
}

main>.part_01>ul,
main>.part_02>ul {
    margin-left: 2rem;
    padding: 1rem;
}
